<div class="row ml-1">
  <div class="col-sm-4">
    <img src="assets/img/slide.JPG" alt="Arizona" class="img-thumbnail">
  </div>
  <div class="col-sm-8">
    <h4>
      Phoenix
    </h4>
    <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.
    </p>
    <h4>
      Sedona
    </h4>
    <ul>
      <li>Discovered the undoubtable source.</li>
      <li>Lorem impsum comes from the section.</li>
      <li>Discovered the undoubtable source.</li>
    </ul>
  </div>
</div>